.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #808080; /* Grey border color */
  border-radius: 30px; /* Rounded border */
  padding: 5px 10px;
  background-color: white;
  width: 100px; /* Adjust the width of the search bar as needed */

  input {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    border-radius: 30px; /* Ensure input field is rounded */
    width: calc(100% - 30px); /* Adjust width of input field minus padding */
  }

  .search-icon {
    color: #808080; /* Grey icon color */
    margin-left: 5px;
  }
}
