.add-household-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensures the container takes full height */
  width: 100%; /* Ensures the container takes full width */
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;

  .add-household-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      font-size: 24px;
      color: #333;
      margin: 0;
    }

    button {
      background-color: #007bff;
      border: none;
      color: white;
      padding: 10px 20px;
      margin-left: 10px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }

      &:nth-of-type(2) {
        background-color: #dc3545;

        &:hover {
          background-color: #c82333;
        }
      }

      &:nth-of-type(3) {
        background-color: #28a745;

        &:hover {
          background-color: #218838;
        }
      }
    }
  }

  .form-content {
    background-color: white;
    .navigation {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 18px;
        margin: 0;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &.active {
          font-weight: bold;
          color: #007bff;
        }

        &:hover {
          background-color: #e9ecef;
        }
      }

      hr {
        border: 0;
        border-top: 1px solid #ddd;
        margin: 10px 0;
      }
    }

    .address-form,
    .details-form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }
}
