.address-layout {
  display: flex;
  //   padding: 20px;
  //   align-items: center;
  height: 100%; /* Ensure it takes full height of the parent container */
  width: 100%;
  //   background-color: #f9f9f9;
  //   border-radius: 8px;
  //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .address-left-form,
  .address-right-location {
    flex: 1; /* Make both sections flexible to take equal space */
    margin-right: 10px; /* Add margin between sections */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    &:last-of-type {
      margin-right: 0; /* Remove margin from the last section */
    }
    h4 {
      font-size: 20px;
      margin-bottom: 20px;
      color: #333;
    }

    label {
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
      color: #666;
    }

    input[type='file'] {
      display: block;
      margin-bottom: 20px;
    }

    .form-input {
      margin-bottom: 20px;
    }

    .form-input {
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }
    }
  }

  .address-left-form,
  .address-right-form {
    display: flex;
    flex-direction: column;
  }
}
