.household-inhabitantlist-container {
  margin: 20px;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.scrollable-table {
  overflow-x: auto;
}

.datatable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 40px;
  margin-bottom: 20px;
}

thead {
  background-color: #e9e9e9;
}

th {
  padding: 15px;
  text-align: left;
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid #ddd;
}

td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.household-info {
  padding: 0;
}

.household-name-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.household-details {
  flex: 1;
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}

.household-action {
  flex-shrink: 0;
  margin-left: 20px;
}

.inhabitant {
  background-color: #ffffff;
  color: #337715;
  border: 1px solid;
  border-color: #45e700;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inhabitant:hover {
  background-color: #a9e0b1;
}

button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

button:hover {
  color: #00b312;
}

.inhabitant-button {
  color: #dc3545;
}

.inhabitant-button:hover {
  color: #c82333;
}

.total-occupants {
  text-align: right;
  padding: 15px;
  background-color: #f9f9f9;
  border-top: 2px solid #ddd;
}

.total-occupants-right {
  text-align: right;
}

@media (max-width: 768px) {
  .household-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .household-action {
    justify-content: center;
    width: 100%;
  }

  td,
  th {
    padding: 10px;
  }

  .inhabitant {
    width: 100%;
    text-align: center;
  }
}
